/* You can add global styles to this file, and also import other style files */
.userNameFromProposedList{
    text-decoration:none;
    color:black;
    cursor: pointer;
}

.userNameFromProposedList:hover{
    background-color:lightyellow;
}

.chatArea{
    max-width:400vh;
}
.chatArea .chat {
  height: 380px;
  max-width: 320px;
  border: 1px solid #000;
}
    .chatArea .chat .body .messageArea {
      padding:3px;
      max-height: 300px;
      min-height: 290px;
      overflow-y: auto;
    }
  .chatArea .chat .head{
      height:40px;
  }

  .chatArea .chat .body .inputArea {
    z-index: 1;
    height: 40px;
    display:flex;
    align-items:end;
  }
    .chatArea .chat .body .inputArea .input-control {
      width: 300px;
      height:40px;
      border-bottom:0;
      border-right:0;
      border-left:0;
      border-top:1px, solid #000;
    }
  .chatHead {
    border-bottom: 1px solid #000;
  }

  .message .msgText {
    background-color: dodgerblue;
    color: #fff;
    border-radius: 4px;
    padding: 4px;
    line-height: 17px;
    max-width: 210px;
    word-break:break-word
  }

  .chat .head .title {
    line-height: 14px;
  }
