<div class="container">
  <form #form="ngForm" class="form" (ngSubmit)="onSubmit(form)" novalidate>
    <div class="form-group d-flex col-12 flex-row">
      <input (keyup)="onKeyUp($event)" class="form-control" id="userName" type="text" placeholder="Search user"
             name="userName" #userNameInputValue />

      <input type="submit" class="btn btn-success" value="Search" />
    </div>
  </form>

  <div class="d-flex flex-column">
    <app-search-result *ngFor="let searchResult of searchResults" [searchResult]="searchResult"
                       (sendToChat)="sendToChatComponent($event)">

    </app-search-result>
  </div>

</div>


