
<div class="container">
  <div class="chatArea d-flex flex-wrap" #chatArea>
    <div class="chat" id="chat1">
      <div class="head d-flex justify-content-between chatHead">
        <div class="title col">
          <p class="text">{{chat.name}}</p>
        </div>
        <div class="closeBtn">
          <button class="btn btn-dark" (click)="removeChat()" type="button">X</button>
        </div>
      </div>
      <div class="body">
        <div class="messageArea d-flex flex-column">
           <div class="message d-flex justify-content-start" *ngFor="let message of chat.messages">
             <p class="msgText">{{message.value}}</p>
           </div>

        </div>

        <div class="inputArea form-group">
          <input class="input-control" type="text" name="message" placeholder="Message.." />
          <input class="btn btn-primary" type="button" name="sendingBtn" value=">" />
        </div>
      </div>
    </div>
  </div>
</div>


